extends layout

block content
    .row.justify-content-center.align-items-center.my-5
      .col-md-6
        .card
          .card-header
            h3.text-center Zaloguj się
          .card-body
            if message
                .alert.alert-danger(role='alert') #{message}
            form(action="/logowanie", method="POST")
              .form-group
                label(for="username") Username
                input(type="text", id="username", name="username", class="form-control", required)
              .form-group
                label(for="password") Password
                input(type="password", id="password", name="password", class="form-control", required)
              button.btn.custom-button.btn-block(type="submit") Login
          .card-footer.text-center
            p Nie masz konta? 
              a(href="/rejestracja") Zarejestruj się