extends layout

block content
  section.mt-5.card-columns#news
    .card
      img.card-img-top(src="images/news/n1.jpg", alt="News Image 1")
      .card-body
        h5.card-title Spotkanie autorskie z Agnieszką Krawczyk
        p.card-text Mamy za sobą bardzo przyjemne spotkanie autorskie. W miniony wtorek nasz filii gościła autorkę powieści obyczajowych, kryminałów oraz opowiadań dla dzieci – panią Agnieszkę Krawczyk. Choć aura za oknem nie sprzyjała, nasze spotkanie przebiegło w bardzo miłej rodzinnej atmosferze. Pani Agnieszka opowiedziała nam o swojej pracy, inspiracjach i tym, w jaki sposób zaczyna tworzyć kolejne sagi. Nasze rozmowy skupiły się na temacie nowej powieści pt.: „Ogród sekretów i zdrad”, napisanej pod wpływem fascynacji autorki epoką dwudziestolecia międzywojennego. Uczestnicy spotkania mogli dowiedzieć się, w jaki sposób i jak długo autorka przygotowuje się do pisania. Było nam niezmiernie miło spotkać się z panią Agnieszką, kobietą pełną pasji, wiedzy i inspiracji. Dziękujemy za odwiedziny i mamy nadzieję, że jeszcze nie raz spotkamy się w progach naszej książnicy.
        p.card-text
          small.text-muted 08.12.2023
    .card
      img.card-img-top(src="images/news/n5.jpg", alt="News Image 1")
      .card-body
        h5.card-title Warsztaty Czasu Wolnego – Świąteczne girlandy na stół
        p.card-text Świąteczne girlandy na stół na Warsztatach Czasu Wolnego w filii bibliotecznej w Śledziejowicach. Święta już tuż-tuż, więc najwyższy czas zabrać się powoli za dekorowanie naszych domów. Dlatego w najbliższy wtorek zapraszamy na Warsztaty Czasu Wolnego, na których wykonamy świąteczne girlandy na stół z naturalnego stroiszu. Do naszych dekoracji wykorzystamy naturalne gałązki choiny, świerka cyprysa oraz dodatki naturalne w postaci m.in. suszonych owoców. Serdecznie zapraszamy miłośników rękodzieła oraz osoby, które mają chęć się spotkać przy wspólnej pracy i nastroić się już na święta. Zapraszamy 12 grudnia o godz. 17:00.
        p.card-text
          small.text-muted 07.12.2023
    .card
      img.card-img-top(src="images/news/n2.jpg", alt="News Image 2")
      .card-body
        h5.card-title Wieczór planszówek w listopadzie
        p.card-text W piątek 24 listopada w godz. 17:00 - 21:00 ponownie spotykamy się przy planszach. Czeka na Was całe mnóstwo gier różnego rodzaju dla dzieci, młodzieży i dorosłych graczy. Jeżeli jakiś tytuł Wam się spodoba, będzie także możliwość wypożyczenia go od razu do domu na swoją kartę biblioteczną (obowiązują kaucje w gotówce). Zapraszamy!
        p.card-text
          small.text-muted 20.11.2023
    .card
      img.card-img-top(src="images/news/n6.jpg", alt="News Image 2")
      .card-body
        h5.card-title Czytniki E-book już dostępne w wielickiej bibliotece!
        p.card-text Od 15 maja oferta naszej biblioteki zostanie rozszerzona o możliwość wypożyczenia czytników e-book. Dostępne dla Was będą 3 urządzenia marki PocketBook, które każdy zarejestrowany czytelnik będzie mógł po opłaceniu zwrotnej kaucji wypożyczyć na miesiąc do domu. Wszystkie udostępniane przez bibliotekę czytniki otrzymają również dostęp do platformy Legimi z szeroką gamą elektronicznego księgozbioru.
        p.card-text
          | Co trzeba zrobić, żeby wypożyczyć czytnik do domu?
          ul
            li Zarejestruj się jako czytelnik w wielickiej bibliotece.
            li Przeczytaj regulamin wypożyczania czytników.
            li Wpłać kaucję za czytnik, podpisz oświadczenie.
            li Wybierz pozycje, które chcesz przeczytać.
            li Ciesz się książkami w mobilnej wersji!
        p | Szczegóły znajdziesz w Regulaminie oraz w Wypożyczalni Głównej wielickiej biblioteki.
        p.card-text
          small.text-muted 17.11.2023
    .card
      img.card-img-top(src="images/news/n3.jpg", alt="News Image 1")
      .card-body
        h5.card-title IX Ogólnopolska Noc Bibliotek
        p.card-text 6 października zapraszamy do Mediateki - Biblioteki Miejskiej w Wieliczce na kolejną, dziewiątą już odsłonę ogólnopolskiej akcji NOC BIBLIOTEK, która w tym roku odbywać się będzie pod hasłem „Absurd nie czytać”. Wieliccy bibliotekarze w ten niezwykły wieczór postarają się wyczarować dla Was magiczny świat niczym z Harry’ego Pottera. Ogólnopolska Noc Bibliotek to wielkie święto bibliotek i czytelnictwa. Również w naszej książnicy będzie to okazja niezwykła. Budynek Wielickiej Mediateki przemieni się w magiczny świat szkoły czarodziejów, gdzie posiądziecie wiedzę z dziedziny magii, zielarstwa, transmutacji czy ważenia eliksirów. Podczas zajęć dowiecie się jak radzić sobie z dementorami czy acromantulami. Niestraszne już będą Wam zaklęcia, eliksiry a nawet karaluchy! U nas otrzymacie również przydział do szkoły magii i odwiedzicie peron 9 i ¾. Serdecznie zapraszamy do udziału w wydarzeniu.
        p.card-text
          small.text-muted 25.10.2023
    .card
      img.card-img-top(src="images/news/n4.jpg", alt="News Image 2")
      .card-body
        h5.card-title Narodowe Czytanie w Wieliczce
        p.card-text 9 września o godz. 18:00 Mediateka-Biblioteka Miejska w Wieliczce zaprasza wszystkich mieszkańców do wspólnego czytania „Nad Niemnem” Elizy Orzeszkowej. Jak co roku nasza biblioteka włącza się do udziału w Narodowym Czytaniu, ogólnopolskiej akcji zainicjowanej przez Parę Prezydencką. To już 12. edycja tej wspaniałej inicjatywy szerzenia czytelnictwa w Polsce. Tym razem przeniesiemy się do czasów Pozytywizmu, do lektury, która pokazała polskie życie po powstaniu styczniowym, piękno polskiej przyrody i zetknięcie z racjonalnością tamtych czasów. „Nad Niemnem” Elizy Orzeszkowej to fenomen polskiego pozytywizmu, który zostanie zaprezentowany podczas tegorocznego wydarzenia w Wieliczce. Z tej okazji zapraszamy do sali kinowej Wielickiej Mediateki na widowisko literacko-muzyczne. W wydarzeniu wezmą udział Wieliczanie i przyjaciele biblioteki, którzy odczytają wybrane fragmenty „Nad Niemnem”. Gościem specjalnym Narodowego Czytania będzie Towarzystwo Śpiewacze „LUTNIA” z Wieliczki, które zaprezentuje pieśni z epoki oraz utwory patriotyczne.
        p.card-text
          small.text-muted 28.08.2023


