extends layout

block content
  section.my-5#aboutUs
    img(src="images/library/shelf.jpg").mb-4
    ul
      li
        h3 Nasza Historia:
        p.my-auto.text-justify Założona w 2011, Biblioteka Wieliczka stanowi istotną część społeczności, rozwijając miłość do literatury i kultury. Na przestrzeni lat przekształciliśmy się w dynamiczną przestrzeń, wykraczającą poza tradycyjne usługi biblioteczne. Nasza podróż jest zaznaczona zaangażowaniem w stworzenie przyjaznego otoczenia, w którym mieszkańcy i odwiedzający mogą eksplorować, odkrywać i nawiązywać kontakty.
      li.my-4
        h3 Misja
        p.my-auto.text-justify W Bibliotece Wieliczka naszym celem jest wzbogacanie życia poprzez wiedzę, wyobraźnię i zaangażowanie społeczne. Dążymy do bycia katalizatorem nauki, promotorem czytelnictwa oraz ośrodkiem kultury.
      li.my-4
        h3 Usługi
        p.my-auto.text-justify Od ogromnej kolekcji książek obejmującej różnorodne gatunki i języki po nowoczesne zasoby cyfrowe – oferujemy mnóstwo materiałów zaspokajających każdą ciekawość. Nasz oddany zespół bibliotekarzy zawsze służy pomocą, zapewniając, że znajdziesz poszukiwane informacje. Oprócz rozległej kolekcji książek organizujemy wydarzenia, warsztaty i aktywności dla wszystkich grup wiekowych, tworząc dynamiczną przestrzeń do intelektualnego i kreatywnego rozwoju.
        ul
          li Książki
          li E-booki
          li Audiobooki
          li Warsztaty i spotkania
      li.my-4
        h3 Społeczność
        p.my-auto.text-justify Z dumą uczestniczymy w życiu społeczności Wieliczki. Nasza biblioteka to miejsce spotkań klubów książkowych, grup dyskusyjnych i wydarzeń kulturalnych. Współpracujemy z lokalnymi szkołami, organizacjami i artystami, promując poczucie jedności i wspólną wiedzę.

