extends layout

block content
    .row.justify-content-center.align-items-center.my-5
      .col-md-6
        .card
          .card-header
            h3.text-center Zarejestruj się
          .card-body
            form(action="/signup", method="POST")
              .form-group
                label(for="email") Email
                input(type="email", id="email", name="email", class="form-control", required)
              .form-group
                label(for="password") Password
                input(type="password", id="password", name="password", class="form-control", required)
              button.btn.custom-button.btn-block(type="submit") Sign Up
