extends layout

block content
    .row.justify-content-center.align-items-center.my-5
      .col-md-6
        .card
          .card-header
            h3.text-center Zarejestruj się
          .card-body
            if warningMessage
              .alert.alert-warning #{warningMessage}
            form(action="/rejestracja", method="POST")
              .form-group
                label(for="username") Username
                input(type="text", id="username", name="username", class="form-control", required)
              .form-group
                label(for="password") Password
                input(type="password", id="password", name="password", class="form-control", required)
              button.btn.custom-button.btn-block(type="submit") Zarejestruj się
