extends layout

block content
    .row.justify-content-center.align-items-center.my-5
      .col-md-6
        .card
          .card-header
            h3.text-center Zarejestruj się
          .card-body
            if message
              .alert.alert-warning #{message}
            form(action="/rejestracja", method="POST")
              .form-group
                label(for="username") Nazwa użytkownika
                input(type="text", id="username", name="username", class="form-control", required)
              .form-group
                label(for="password") Hasło
                input(type="password", id="password", name="password", class="form-control", required)
              .form-group
                label(for="password_confirmation") Potwierdź hasło
                input(type="password", id="password_confirmation", name="password_confirmation", class="form-control", required)
              button.btn.custom-button.btn-block(type="submit") Zarejestruj się
