body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: 
    linear-gradient(to top, rgba(219, 31, 156, 0.3), transparent), 
    url("../images/background_image.jpg");
  background-size: cover;

  min-height: 100vh;
  flex: 1;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

.navbar {
  font-size: 18px;
}

.gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(90deg, #fd8000, #8abc33, #00b3b0); 
  opacity: 0.2;
}

#over-container {
  max-width: 70%;
  height: 100vh;
  background-color: white;
  margin: 0 auto;
}

#logo {
  width: 45%;
  margin-bottom: 3vh;
}

.navbar {
  background: linear-gradient(45deg, #fd8000, #8abc33, #00b3b0);
  max-width: 90%;
  margin: auto;
  border-radius: 5px;
}

.login-button {
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color: rgba(255, 213, 0, 0.534);
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #ffd300; /* Change background color on hover */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 70%;
}
